*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body{
    font-family: 'Irish Grover';font-size: 22px;
    background-color: #f9efe4;
    display: flex;
  height: 100vh;
  margin: 0;
}

@keyframes backAndForth {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}
button{
    all: unset;
    cursor: pointer;
    transition: transform 0.1s ease;
  transform: scale(0.8); 
  transform-origin: center; 
}
button:hover{
  transform: scale(0.9) rotate(-5deg) translateY(3px) translateX(3px);
}

p{
  font-size:100px;
  line-height: 100px;
  text-align: center;
  transform: rotate(-4deg);
  color: #58649F ;
  -webkit-text-stroke: 4px #1B2555;
}
#title{
   position: relative; 
    top: 40%;
    left: 50%;
   transform: translate(-50%, -50%);
   z-index:-10;
}

#popup-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1;
  width: 250px;
}

.modal-content {
  padding: 20px;
  border: 5px solid #BB486F;
  background-color: #EEB9C8;
  color:#1B2555;
  font-size:18px;
}

section{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 19.5%);
  justify-content:center;
  justify-items:space-around;
  align-items:space-around;
  padding-left:100px;
  padding-right:100px;
  }

 #title{
  position: absolute;
  white-space: nowrap;
  animation: bounce 7s linear infinite alternate;
}

@keyframes bounce {
  from {
    left: 0%;
    transform: translateX(0%);
  }
  to {
    left: 100%;
    transform: translateX(-100%);
  }
}